name: build-kind

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Kubernetes version'
        default: 'v1.35.0'
        required: true
      kind:
        description: 'Kind version'
        default: 'v0.31.0'
        required: true

permissions:
  contents: read

jobs:
  k8s-node-amd64:
    runs-on:
      group: "Default Larger Runners"
      labels: ubuntu-latest-16-cores
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Setup Kind
        uses: helm/kind-action@v1.13.0
        with:
          version: ${{ github.event.inputs.kind }}
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: kubernetes/kubernetes
          ref: ${{ github.event.inputs.version }}
          path: kubernetes
      - name: Build node image
        run: |
          cd $GITHUB_WORKSPACE/kubernetes
          kind build node-image
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: fluxcdbot
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Push node image
        run: |
          docker tag kindest/node:latest ghcr.io/fluxcd/kindest/node:${{ github.event.inputs.version }}-amd64
          docker push ghcr.io/fluxcd/kindest/node:${{ github.event.inputs.version }}-amd64
  k8s-node-arm64:
    runs-on:
      group: "ARM64"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Setup Kind
        uses: helm/kind-action@v1.13.0
        with:
          version: ${{ github.event.inputs.kind }}
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: kubernetes/kubernetes
          ref: ${{ github.event.inputs.version }}
          path: kubernetes
      - name: Build node image
        run: |
          cd $GITHUB_WORKSPACE/kubernetes
          kind build node-image
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: fluxcdbot
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Push node image
        run: |
          docker tag kindest/node:latest ghcr.io/fluxcd/kindest/node:${{ github.event.inputs.version }}-arm64
          docker push ghcr.io/fluxcd/kindest/node:${{ github.event.inputs.version }}-arm64
